/*header style*/

header {
    background-image: url("../img/bg-img.jpg");
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    height: 1076px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 195px;
    font-weight: bolder;
    letter-spacing: -10px;
}

h3 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 38px;
}

button {
    outline:none;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 2%;
}

.logo-img {
    width: 78px;
    height: 48px;
}

.menu {
    position: relative;
    display: inline-block;
}

.side-menu {
    width: 24px;
    height: 16px;
    margin: 2%;
    cursor: pointer;
}

.dropdwn-menu {
    display: none;
    position: absolute;
    right: 15%;
    background-color: transparent;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
}

.menu:hover .dropdwn-menu{
    display: block;
}

.menu-link {
    color: white;
    padding: 7% 30%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: block;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-btn {
    width: 190px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #ffffff;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 27px;
}

.header-btn:hover {
    background-color: #393b3f;
}

.goto-btn {
    margin: 0 50% 35px;
    position: relative;
}

.down-sign {
    color: #ffffff;
    position: absolute;
    transform: rotate(-45deg);
}

.icon-style {
    color: #e0e4e9;
    font-size: 30px;
    font-weight: bolder;    
}

/*header style*/

@media screen and (max-width: 1200px) {

    .header-btn {
        border-radius: 32px;
        border: 1px solid #ffffff;
        background-image: none; 
        background: transparent;
        background-color: transparent;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 10px;
    }
}